
/* Telefones em paisagem a tablet em retrato */
@media ( min-width: 1px ) and (max-width: 767px) {
    /*HERO*/    
   	hr{
  		margin: 0 auto;
    }
    .img-logo{
	   width: 5em;
	   height: 2em;
	}
    h1{
    	font-size: 1em;
    }
    .p-hero{
		font-size: 0.8em;
	}
    .img-logotipo{
    	width: 7em;
    	height: 7em;
    }
 }
/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 1999px) {
    /*HERO*/    
   	hr{
  		margin: 0 auto;
    }
    .img-logo{
	width: 5em;
	height: 2em;
	}
    h1{
    	font-size: 1.5em;
    }
    .p-hero{
		font-size: 1em;
	}
    .img-logotipo{
    	width: 9em;
    	height: 9em;
    }

}
 
/* Desktop grande */
@media (min-width: 1200px) {
    /*HERO*/
    
   	hr{
  		margin: 0 auto;
    }
    .img-logo{
	width: 6em;
	height: 2em;
	}
    h1{
    	font-size: 3em;
    }
    .p-hero{
		font-size: 1em;
	}
    .img-logotipo{
    	width: 7em;
    	height: 7em;
    }
    
}