.contacts-wrapper{
	background-size: 100%;
	background-image: url(./assets/bgcontato.jpg);
	background-attachment:fixed;
	width: 100vw;
	height: 80vh;
	display: flex;
	flex-flow: row wrap;
}
.row-top-wrapper{
	width: 100%;
	height: 10%;
	display: inline-flex;
	flex-flow: row wrap;
}
h2.contact{
	margin-left: 2em;
	margin-top: 2em;
	font-size: 2.2em;
	color: white;
}
.row-answear-contact{
	width: 100%;
	height: 90%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	color: white;
}
h4.upper{
	font-size: 2em;
	margin-top: 8em;
	margin-bottom: 3em;
}
p.contact{
	font-size: 1.5em;
}
.row-socials{
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	width: 40%;
	display:flex;
	flex-flow: row wrap;
}
.img-contact{
	margin:2em;
	width: 3em;
	height: 3em;
}
.img-octal{
	margin-top: 4em;
	margin-left: 1em;
	width: 5em;
	height: 5em;
	background-color:red; 
}
