
*{	margin: 0;	padding: 0; }

.upper{	
	text-transform: uppercase;
	@import url('https://fonts.googleapis.com/css?family=Raleway');
  font-family: 'Raleway', sans-serif;
}

h1{
	letter-spacing: 0.1em;
	font-size: 3em;
	color: white;
	padding: 1em;
  font-weight: bold;
}
span{
	font-style: italic;
	font-weight: 500;
}
hr{
	margin:0 auto;
	width: 15vw;
}
.hero-wrapper{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	background: fixed;
	background-size: 100% 100%;
	background-color: #212121;
	/*background-image:url(./bgintro.jpg);*/ 
	height: 100vh;
	width: 100vw;
}
.content-hero-center{
	position: absolute;
}
.p-hero{
	font-size: 0.8em;
	color: rgba(500,250,500,0.6);
	padding: 1em;
	font-weigth:light;
}
.row-center{
	width: 100vw;
	height: 100vh;
	text-align:center;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
.img-logotipo{
	padding: 1em;
	width: 6em;
	height: 6em;
	margin-bottom:2em; 
}